p{
    font-weight: bold;
    font-size: 20px
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color: #002550;
}

body{
    background-color: rgb(209, 210, 204);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
    
}

.centeredlist{
    padding-left: 0;
    list-style-position: outside;
    margin: 0 auto;
    display: table;
    text-align: left;
}